In [3]:
%matplotlib inline
import pandas as pd

from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [5]:
titles = pd.read_csv('titles.csv')
titles.head()

                  title  year
0    Tasveer Mere Sanam  1996
1              Only You  1994
2  El pueblo del terror  1970
3               Machine  2007
4                  MARy  2008

In [14]:
titles.isna().sum().sum()

0

In [15]:
#titles.describe
titles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244914 entries, 0 to 244913
Data columns (total 2 columns):
title    244914 non-null object
year     244914 non-null int64
dtypes: int64(1), object(1)
memory usage: 2.8+ MB

### How many movies are listed in the titles dataframe?

In [24]:
titles.title.count()

244914

### What are the earliest two films listed in the titles dataframe?

In [24]:
titles.sort_values(by=['year'])[:2]

                     title  year
193222          Miss Jerry  1894
51388   The Startled Lover  1898

### How many movies have the title "Hamlet"?

In [44]:
titles[titles['title'].str.contains("Hamlet")]

                                          title  year
6422                                     Hamlet  2017
10637                                    Hamlet  1921
39916                                    Hamlet  1913
46189                             Zombie Hamlet  2012
48703                        Han, hun og Hamlet  1922
48886                     Green Eggs and Hamlet  1995
50258             Hamlet: The Fall of a Sparrow  2018
51159                 Hamlet, Prince of Denmark  1997
52097                    Hamlet liikemaailmassa  1987
52521                                    Hamlet  1910
62000                                    Hamlet  2000
67406                                    Hamlet  1969
82130                                    Hamlet  1987
84606             National Theatre Live: Hamlet  2015
84840                                  Hamlet_X  2003
88065                                    Hamlet  2016
89209         Royal Shakespeare Company: Hamlet  2016
94411                               Hamlet (II)  2005
94884                        Han, hun og Hamlet  1932
98431   The Tragedy of Hamlet Prince of Denmark  2007
101728                                   Hamlet  1948
102779                           Hamlet Unbound  2012
104397                Hamlet: Prince of Denmark  1989
105669                           Hamlet's Ghost  2015
109416          Dogg's Hamlet, Cahoot's Macbeth  2005
122827                                   Hamlet  1973
128792                      Harry, Hamlet and I  2013
133921                                   Hamlet  1976
135751                              Hamlet (II)  2017
138162                 Hamlet, Son of a Kingpin  2015
148503      Predstava 'Hamleta' u Mrdusi Donjoj  1974
154029                                   Hamlet  2015
156655                           Kitchen Hamlet  2009
161324                                   Hamlet  1964
172640                                   Hamlet  1954
173033                                   Hamlet  2011
176125                              Hamlet (II)  1964
177050                                 Hamlet 2  2008
178222                                   Hamlet  1996
178529                              Hamlet (II)  2015
178829                            Hamlet A.D.D.  2014
182847                Hamlet in the Golden Vale  2017
189093                                   Hamlet  2009
190799                Hamlet the Vampire Slayer  2008
192142                                   Hamlet  1990
194338                     Hamlet Demonstration  2011
198234                                   Hamlet  1911
198793                                 Hamlet X  2004
199932                             Hamlet (III)  2007
200307                              Fuck Hamlet  1996
202025                                   Hamlet  2014
214820                       A Sagebrush Hamlet  1919
223833                             H for Hamlet  1993
236188                   Hamlet in the Hamptons  2002
239719              Intikam Melegi/Kadin Hamlet  1976
240540                           Hamlet/Horatio  2017
244624                              Hamlet (II)  2007

In [21]:
titles[titles['title'].str.contains("Hamlet")].title.count()

57

### How many movies are titled "North by Northwest"?

In [17]:
titles[titles['title'].str.contains("North by Northwest")]

                    title  year
74398  North by Northwest  1959

In [19]:
titles[titles['title'].str.contains("North by Northwest")].title.count()

1

### When was the first movie titled "Hamlet" made?

In [50]:
titles[titles['title'].str.contains("Hamlet")].sort_values(by=['year'])[:1]

        title  year
52521  Hamlet  1910

### List all of the "Treasure Island" movies from earliest to most recent.

In [51]:
titles[titles['title'].str.contains("Treasure Island")].sort_values(by=['year'])

                                                    title  year
55686                                     Treasure Island  1918
196514                                    Treasure Island  1920
141822                                    Treasure Island  1934
64173                       The Secret of Treasure Island  1938
79701                     Charlie Chan at Treasure Island  1939
77354                                     Treasure Island  1950
34341                           Return to Treasure Island  1954
34288                           Five on a Treasure Island  1957
65051                                     Treasure Island  1972
37238                                     Treasure Island  1973
173051                                    Treasure Island  1985
26111                              Muppet Treasure Island  1996
27076                                     Treasure Island  1999
216970                               Treasure Island (II)  1999
209707  Treasure Island Kids: The Battle of Treasure I...  2006
2830                           Pirates of Treasure Island  2006
112591  Treasure Island Kids: The Mystery of Treasure ...  2006
244541  Treasure Island Kids: The Monster of Treasure ...  2006
155317             National Theatre Live: Treasure Island  2015

### How many movies were made in the year 1950?

In [20]:
titles[titles.year == 1950].title.count()

1113

### How many movies were made in the year 1960?

In [14]:
titles[titles.year == 1960].title.count()

1549

### How many movies were made from 1950 through 1959?

In [15]:
movies_1950_1959 = titles["year"].between(1950, 1959, inclusive = True)
titles[movies_1950_1959].sort_values(by=['year']).title.count()

12934

### In what years has a movie titled "Batman" been released?

In [70]:
titles[titles['title'].str.contains("Batman")].sort_values(by=['year'])

                                              title  year
39349                                        Batman  1943
204905                             Batman and Robin  1949
93271                                Batman Dracula  1964
34251                         Alyas Batman at Robin  1965
180265                                 James Batman  1966
134007                            Batman: The Movie  1966
170948                        Batman Fights Dracula  1967
91440                         Fight! Batman, Fight!  1973
240896                                       Batman  1989
183764                        Alyas Batman en Robin  1991
21158                                Batman Returns  1992
92106                  Batman: Mask of the Phantasm  1993
163887                               Batman Forever  1995
153828                               Batman & Robin  1997
223791                                Batman Begins  2005
3609                                 Batman Reboots  2010
78155                     Batman: The Final Victory  2010
49259                                 Batman Untold  2010
161608                              Batman Revealed  2012
139039                             Batman: Crusader  2014
143064                 Batman Beyond: Rising Knight  2014
56896            Batman v Superman: Dawn of Justice  2016
29920                               Batman: Anarchy  2016
192806           B@: It's a Wonderful Life, Batman!  2016
42483                      Batman: The Killing Joke  2016
130474        Batman: Return of the Caped Crusaders  2016
93833                       B@ (Batman Parody Film)  2016
230776                       Batman: Master of Fear  2017
213182                Batman the Dawn of the Knight  2017
26577                         The LEGO Batman Movie  2017
63068              Batman V Superman: League at War  2018
161657                  Batman the Rise of Red Hood  2018
194288  Scooby-Doo & Batman: the Brave and the Bold  2018
108277                                 Batman Ninja  2018
127552                              Batman Unveiled  2018

### How many roles were there in the movie "Inception"?

In [104]:
cast=pd.read_csv('cast.csv')
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4  31.0
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

In [105]:
print(cast.isna().sum().sum())

1458573

In [106]:
cast[cast.title== "Inception"]
cast.character.count()

3786176

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [107]:
cast[(cast.title== "Inception") & (cast.n.isnull()) ].character.count()

27

### But how many roles in the movie "Inception" did receive an "n" value?

In [109]:
cast[(cast.title== "Inception") & (cast.n.notnull()) ].character.count()

51

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [110]:
temp = cast[(cast['title']=='North by Northwest') & (cast['n'].notnull())]

In [111]:

temp[['name','n']].sort_values('n')

                         name     n
871426             Cary Grant   1.0
3518333       Eva Marie Saint   2.0
1457165           James Mason   3.0
3157232   Jessie Royce Landis   4.0
356707         Leo G. Carroll   5.0
3048272  Josephine Hutchinson   6.0
1695173           Philip Ober   7.0
1275337         Martin Landau   8.0
2447081         Adam Williams   9.0
1811387          Edward Platt  10.0
665768      Robert Ellenstein  11.0
2295714          Les Tremayne  12.0
464736        Philip Coolidge  13.0
1508344         Patrick McVey  14.0
206471           Edward Binns  15.0
1384780             Ken Lynch  16.0

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [112]:
temp1 = cast[(cast['title']=='Sleuth') & (cast['n'].notnull()) & (cast['year']==1972) ]

In [113]:

temp1[['name','n']].sort_values('n')

                       name    n
1705394    Laurence Olivier  1.0
326773        Michael Caine  2.0
373876       Alec Cawthorne  3.0
1465483  John (II) Matthews  4.0
2724553  Eve (III) Channing  5.0
1448690        Teddy Martin  6.0

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [ ]:
temp1 = cast[(cast['title']=='Sleuth') & (cast['n'].notnull()) & (cast['year']==2007) ]

In [114]:
temp1[['name','n']].sort_values('n')

                       name    n
1705394    Laurence Olivier  1.0
326773        Michael Caine  2.0
373876       Alec Cawthorne  3.0
1465483  John (II) Matthews  4.0
2724553  Eve (III) Channing  5.0
1448690        Teddy Martin  6.0

### How many roles were credited in the silent 1921 version of Hamlet?

In [131]:
temp2 = cast[(cast['title']=='Hamlet') & (cast['year']==1921) ]
temp2

          title  year                    name     type         character    n
7789     Hamlet  1921        Fritz Achterberg    actor       Fortinbras,  9.0
458904   Hamlet  1921            Paul Conradi    actor      K?nig Hamlet  2.0
555034   Hamlet  1921        Anton De Verdier    actor           Laertes  7.0
1135279  Hamlet  1921         Hans Junkermann    actor          Polonius  6.0
2185558  Hamlet  1921            Heinz Stieda    actor           Horatio  5.0
2375993  Hamlet  1921  Eduard von Winterstein    actor          Claudius  4.0
2664423  Hamlet  1921         Mathilde Brandt  actress  K?nigin Gertrude  3.0
3062023  Hamlet  1921          Lilly Jacobson  actress           Ophelia  8.0
3355176  Hamlet  1921            Asta Nielsen  actress            Hamlet  1.0

In [128]:
temp2.character.count()

9

### How many roles were credited in Branaghs 1996 Hamlet?

In [132]:
temp3 = cast[(cast['title']=='Hamlet') & (cast['year']==1996) ]
temp3

,title,year,name,type,character,n
1731,Hamlet,1996,Riz Abbasi,actor,Attendant to Claudius,1.0
95861,Hamlet,1996,Richard Attenborough,actor,English Ambassador,2.0
158642,Hamlet,1996,Simon Russell Beale,actor,Second Gravedigger,37.0
214473,Hamlet,1996,David (V) Blair,actor,Attendant to Claudius,3.0
219554,Hamlet,1996,Brian Blessed,actor,Ghost of Hamlet's Father,4.0
250773,Hamlet,1996,Christopher Bowles,actor,Cadet in Play,NaN
260225,Hamlet,1996,Kenneth Branagh,actor,Hamlet,5.0
272749,Hamlet,1996,Richard Briers,actor,Polonius,6.0
294652,Hamlet,1996,Michael Bryant,actor,Priest,7.0
319501,Hamlet,1996,Peter Bygott,actor,Attendant to Claudius,8.0
344365,Hamlet,1996,Kenneth W Caravan,actor,Laertes Mob,NaN
500916,Hamlet,1996,Billy Crystal,actor,First Gravedigger,10.0
518572,Hamlet,1996,Charles Daish,actor,Stage Manager,11.0
576147,Hamlet,1996,G?rard Depardieu,actor,Reynaldo,13.0
598618,Hamlet,1996,Reece Dinsdale,actor,Guildenstern,14.0
604339,Hamlet,1996,Ken Dodd,actor,Yorick,15.0
656817,Hamlet,1996,Rob Edwards,actor,Lucianus,17.0
669232,Hamlet,1996,Jimmy Ellis,actor,Old Fortinbras,NaN
704270,Hamlet,1996,Nicholas Farrell,actor,Horatio,18.0
708468,Hamlet,1996,Ray Fearon,actor,Francisco,19.0
827066,Hamlet,1996,John Gielgud,actor,Priam,21.0
990819,Hamlet,1996,Charlton Heston,actor,Player King,23.0
1074691,Hamlet,1996,Ravil Isyanov,actor,Cornelius,24.0
1082161,Hamlet,1996,Derek Jacobi,actor,Claudius,25.0
1210509,Hamlet,1996,Jeffery Kissoon,actor,Fortinbras's Captain,27.0
1316617,Hamlet,1996,Jack Lemmon,actor,Marcellus,29.0
1400732,Hamlet,1996,Anthony Maddalena,actor,Elsinore Courtier,NaN
1417360,Hamlet,1996,Michael Maloney,actor,Laertes,31.0
1489191,Hamlet,1996,Ian McElhinney,actor,Barnardo,30.0
1549128,Hamlet,1996,John Mills,actor,Old Norway,33.0
1556082,Hamlet,1996,Jimi Mistry,actor,Sailor Two,34.0
1588218,Hamlet,1996,Frank (II) Morgan,actor,Pyrrhus,NaN
2040040,Hamlet,1996,Andrew Schofield,actor,Young Lord,38.0
2052796,Hamlet,1996,Orlando Seale,actor,Boatman,NaN
2067657,Hamlet,1996,Rufus Sewell,actor,Fortinbras,39.0
2151526,Hamlet,1996,Timothy Spall,actor,Rosencrantz,40.0
2154960,Hamlet,1996,John Spencer-Churchill,actor,Fortinbras's Captain,32.0
2221910,Hamlet,1996,Thomas Szekeres,actor,Young Hamlet,41.0
2259675,Hamlet,1996,Ben Thom,actor,First Player,42.0
2404091,Hamlet,1996,Don Warrington,actor,Voltimand,43.0
2453099,Hamlet,1996,Robin Williams,actor,Osric,45.0
2500066,Hamlet,1996,David Yip,actor,Sailor One,47.0
2508377,Hamlet,1996,Jimmy Yuill,actor,Alexander,NaN
2737885,Hamlet,1996,Julie Christie,actress,Gertrude,9.0
2814220,Hamlet,1996,Judi Dench,actress,Hecuba,12.0
2835947,Hamlet,1996,Angela Douglas,actress,Attendant to Gertrude,16.0
2940033,Hamlet,1996,Yvonne Gidden,actress,Doctor,20.0
2999610,Hamlet,1996,Rosemary Harris,actress,Player Queen,22.0
3119901,Hamlet,1996,Rowena King,actress,Attendant to Gertrude,26.0
3154270,Hamlet,1996,Sarah Lam,actress,Attendant to Gertrude,28.0
3451003,Hamlet,1996,Sian Radinger,actress,Prologue,35.0
3456114,Hamlet,1996,Melanie Ramsay,actress,Prostitute,NaN
3728751,Hamlet,1996,Perdita Weeks,actress,Second Player,44.0
3751232,Hamlet,1996,Kate Winslet,actress,Ophelia,46.0

In [133]:
temp3.character.count()

54

### How many "Hamlet" roles have been listed in all film credits through history?

In [137]:
cast[(cast['title']=='Hamlet')].character.count()

342

### How many people have played an "Ophelia"?

In [138]:
cast[(cast['character']=='Ophelia')].character.count()

117

### How many people have played a role called "The Dude"?

In [139]:
cast[(cast['character']=='The Dude')].character.count()

19

### How many people have played a role called "The Stranger"?

In [140]:
cast[(cast['character']=='The Stranger')].character.count()

212

### How many roles has Sidney Poitier played throughout his career?

In [141]:
cast[(cast['name']=='Sidney Poitier')].character.count()

43

### How many roles has Judi Dench played?

In [142]:
cast[(cast['name']=='Judi Dench')].character.count()

55

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [147]:
temp5 = cast[(cast['name']=='Cary Grant') & (cast['year']>=1940) &((cast['year']<1950))  & (cast['n']==2)]
temp5.character.count()

2

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [151]:
temp6 = cast[(cast['name']=='Cary Grant') & (cast['year']>=1940) &((cast['year']<1950))  & (cast['n']==1)]

In [152]:
temp6[['character','year','n']].sort_values('year')

                                   character  year    n
871448                           Matt Howard  1940  1.0
871407                          Walter Burns  1940  1.0
871450                    C. K. Dexter Haven  1940  1.0
871438                      Johnnie Aysgarth  1941  1.0
871452                          Leopold Dilg  1942  1.0
871429                 Patrick 'Pat' O'Toole  1942  1.0
871398                         Capt. Cassidy  1943  1.0
871422  Joe Adams -posing as Joe Bascopolous  1943  1.0
871430                           Jerry Flynn  1944  1.0
871390                     Mortimer Brewster  1944  1.0
871425                            Ernie Mott  1944  1.0
871424                           Cole Porter  1946  1.0
871427                                Devlin  1946  1.0
871444                           Dick Nugent  1947  1.0
871445                                Dudley  1947  1.0
871421                         Jim Blandings  1948  1.0
871402                     Dr. Madison Brown  1948  1.0
871411                 Captain Henri Rochard  1949  1.0

### How many roles were available for actors in the 1950s?

In [155]:
cast[(cast['type']=='actor') & (cast['year']>=1950) & (cast['year']<1960)].character.count()

157738

### How many roles were available for actresses in the 1950s?

In [157]:
cast[(cast['type']=='actress') & (cast['year']>=1950) & (cast['year']<1960)].character.count()

57733

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [158]:
cast[(cast['n']==1) & (cast['year']<1981)].character.count()

65140

### How many non-leading roles were available through from the beginning of film history through 1980?

In [159]:
cast[(cast['n']==2) & (cast['year']<1981)].character.count()

61395

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [160]:
cast[(cast['n'].isnull()) & (cast['year']<1981)].character.count()

448347